<html>
    <body>
        <p> Votre nombre est {{ number2 }}</p>
        {% if ( number2 < 15)  %}
                
                <p> Vous avez perdu</p>    
                
                {% else  %}

                <p> Vous avez gagné </p>

                {% endif %}
                  
                   
    </body>
</html>
